.listingSection{
    flex-basis: 70%;

    .heading{
        width:100%;
        justify-content: space-between;
    

        h1{
            font-size: 1rem;
            color: black;
            font-weight: 700;
        }
        .btn{
            border: 1px solid transparent;
            font-weight: 500;

        }
        .btn :hover{
            border: 1px solid green;
            
        }
    }
    .secContainer{
        width: 100%;
        margin: 1rem 0;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-between;


        .singleItem{
            position: relative;
            width: 150px;
            height: 170px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 1rem;
            border-radius: 10px;
            background-color:lightgray;


            &:hover{
                background: lightgreen;
                box-shadow: 0 2px 2px white;
            }
            img{
                max-width: 100px;
            }
            .icon{
                position: absolute;
                top: 10px;
                right: 10px;
                color:green;
            }
            h3{
                font-size: 1rem;
                color: black;
                padding: 1rem 0;
            }
        }
    }

}

 @media screen and (max-width:990px){
    .heading{
        flex-direction: column;
        align-items:flex-start;
        gap: 1rem;
    }
 }
 @media screen and (max-width:918px){
    .heading{
        flex-direction:row;
        align-items:center;
        gap: 1rem;
    }
 }
 @media screen and (max-width:500px){
    .heading{
        flex-direction: column;
        align-items:flex-start;
        gap: 1rem;
    }
 }
 @media screen and (max-width:918px){
    .listingSection{
        .singleItem{
            width: 200px !important;
        }
    }
 }